In [1]:
import datetime
import gc
import os
from pathlib import Path

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from tqdm import tqdm_notebook

data_dir = Path.home() / 'Desktop/kaggle/data/lanl'
os.environ['DATA_DIR'] = str(data_dir)

In [2]:
!ls -lh $DATA_DIR

total 6.3G
-rw-r----- 1 maekawa primarygroup  75K May 31 20:54 CatBoost_2019-05-31_test_2.055_train_1.806.csv
-rw-r----- 1 maekawa primarygroup  76K Jun  1 01:18 CatBoost_2019-06-01_test_1.848_train_1.534.csv
-rw-r----- 1 maekawa primarygroup  75K Jun  1 02:53 CatBoost_2019-06-01_test_1.982_train_1.671.csv
-rw-r----- 1 maekawa primarygroup  75K Jun  1 15:41 CatBoost_2019-06-01_test_2.008_train_1.667.csv
-rw-r----- 1 maekawa primarygroup  75K Jun  1 17:34 CatBoost_2019-06-01_test_2.105_train_1.810.csv
-rw-r----- 1 maekawa primarygroup  75K Jun  1 19:29 CatBoost_2019-06-01_test_2.108_train_1.763.csv
-rw-r----- 1 maekawa primarygroup  75K Jun  1 19:08 CatBoost_2019-06-01_test_2.112_train_1.830.csv
-rw-r----- 1 maekawa primarygroup  75K Jun  1 21:12 CatBoost_2019-06-01_test_2.113_train_1.814.csv
-rw-r----- 1 maekawa primarygroup  75K Jun  1 21:39 CatBoost_2019-06-01_test_2.147_train_1.815.csv
-rw-r----- 1 maekawa primarygroup  75K Jun  1 22:20 CatBoost_2019-06-01_test_2.156_train_1.743.csv
-rw-r----- 1 maekawa primarygroup  75K Jun  2 14:30 CatBoost_2019-06-02_test_2.220_train_1.839.csv
-rw-r----- 1 maekawa primarygroup  75K Jun  2 14:40 CatBoost_2019-06-02_test_2.220_train_1.848.csv
-rw-r----- 1 maekawa primarygroup  75K Jun  3 14:45 CatBoost_2019-06-03_test_2.072_train_1.882.csv
-rw-r----- 1 maekawa primarygroup  75K Jun  3 15:17 CatBoost_2019-06-03_test_2.078_train_1.817.csv
-rw-r----- 1 maekawa primarygroup  75K Jun  3 09:45 CatBoost_2019-06-03_test_2.220_train_1.848.csv
-rw-r----- 1 maekawa primarygroup 3.6G Feb  8 21:07 df_train.pickle
-rw-r----- 1 maekawa primarygroup 7.7M Jun  1 17:25 df_xtest_extra_v3.pickle
-rw-r----- 1 maekawa primarygroup 5.6M Jun  2 12:28 df_xtest_extra_v4.pickle
-rw-r----- 1 maekawa primarygroup 7.7M Jun  3 09:25 df_xtest_extra_v5.pickle
-rw-r----- 1 maekawa primarygroup 629K Jun  1 02:03 df_xtest_v2.csv
-rw-r----- 1 maekawa primarygroup 629K Jun  1 02:21 df_xtest_v2.pickle
-rw-r----- 1 maekawa primarygroup 7.7M Jun  1 12:09 df_xtest_v3.pickle
-rw-r----- 1 maekawa primarygroup 5.6M Jun  2 11:00 df_xtest_v4.pickle
-rw-r----- 1 maekawa primarygroup 7.7M Jun  3 08:50 df_xtest_v5.pickle
-rw-r----- 1 maekawa primarygroup  36M Jun  2 12:48 df_xtrain_classified_v4.pickle
-rw-r----- 1 maekawa primarygroup  49M Jun  3 10:29 df_xtrain_classified_v5.pickle
-rw-r----- 1 maekawa primarygroup  16M Jun  1 17:25 df_xtrain_extra_stride0.8_v4.pickle
-rw-r----- 1 maekawa primarygroup  36M Jun  2 12:28 df_xtrain_extra_stride4_v4.pickle
-rw-r----- 1 maekawa primarygroup  16M Jun  1 15:20 df_xtrain_extra_stride75_v3.pickle
-rw-r----- 1 maekawa primarygroup  49M Jun  3 09:25 df_xtrain_extra_v5.pickle
-rw-r----- 1 maekawa primarygroup  36M Jun  2 12:47 df_xtrain_filtered_v4.pickle
-rw-r----- 1 maekawa primarygroup 3.8M Jun  1 02:21 df_xtrain_oof_v2.pickle
-rw-r----- 1 maekawa primarygroup  49M Jun  3 13:04 df_xtrain_stratified_v5.pickle
-rw-r----- 1 maekawa primarygroup  36M Jun  2 10:35 df_xtrain_stride4_v4.pickle
-rw-r----- 1 maekawa primarygroup  16M Jun  1 11:42 df_xtrain_stride75_v3.pickle
-rw-r----- 1 maekawa primarygroup 3.6M Jun  1 02:02 df_xtrain_strides4_v2.pickle
-rw-r----- 1 maekawa primarygroup  49M Jun  3 01:39 df_xtrain_submean_v5.pickle
-rw-r----- 1 maekawa primarygroup 261K Jun  2 10:35 df_ytrain_stride4_v4.pickle
-rw-r----- 1 maekawa primarygroup  82K Jun  1 11:42 df_ytrain_stride75_v3.pickle
-rw-r----- 1 maekawa primarygroup 263K Jun  1 02:02 df_ytrain_strides4_v2.pickle
-rw-r----- 1 maekawa primarygroup 261K Jun  3 01:39 df_ytrain_submean_v5.pickle
-rw-r----- 1 maekawa primarygroup  75K Jun  1 19:46 Keras_2019-06-01_test_2.079_train_2.086.csv
-rw-r----- 1 maekawa primarygroup  75K Jun  1 21:20 Keras_2019-06-01_test_2.102_train_2.155.csv
-rw-r----- 1 maekawa primarygroup  75K Jun  1 22:26 Keras_2019-06-01_test_2.110_train_2.181.csv
-rw-r----- 1 maekawa primarygroup  75K Jun  1 21:47 Keras_2019-06-01_test_2.122_train_2.181.csv
-rw-r----- 1 maekawa primarygroup  75K Jun  2 14:30 Keras_2019-06-02_test_2.220_train_nan.csv
-rw-r----- 1 maekawa primarygroup  75K Jun  2 14:47 Keras_2019-06-02_test_3.095_train_5.911.csv
-rw-r----- 1 maekawa primarygroup  75K Jun  3 15:46 Keras_2019-06-03_test_2.046_train_2.100.csv
drwxr-x--- 2 maekawa primarygroup 4.0K Jun  3 15:44 keras_logs
-rw-r----- 1 maekawa primarygroup  75K Jun  1 19:31 lanl_submission_ensemble1.csv
-rw-r----- 1 maekawa primarygroup  75K Jun  1 19:47 lanl_submission_ensemble2.csv
-rw-r----- 1 maekawa primarygroup  75K Jun  3 14:56 lanl_submission_ensemble3.csv
-rw-r----- 1 maekawa primarygroup  75K Jun  1 19:22 lanl_submission_genetic_programming.csv
-rw-r----- 1 maekawa primarygroup  53K Jun  1 19:22 lanl_submission_rnn_starter.csv
-rw-r----- 1 maekawa primarygroup  75K Jun  2 20:34 LightGBM_2019-06-02_test_2.336_train_1.960.csv
-rw-r----- 1 maekawa primarygroup  75K Jun  3 14:59 LightGBM_2019-06-03_test_2.072_train_1.680.csv
-rw-r----- 1 maekawa primarygroup  75K Jun  3 15:38 LightGBM_2019-06-03_test_2.078_train_1.638.csv
-rw-r----- 1 maekawa primarygroup  34K Feb  8 20:51 sample_submission.csv
drwxr-x--- 2 maekawa primarygroup  88K Apr  5 21:00 testdata
-rw-r----- 1 maekawa primarygroup 242M Feb  8 20:51 test.zip
-rw-r----- 1 maekawa primarygroup 2.1G Feb  8 20:51 train.csv.zip

In [3]:
sub_rnn = pd.read_csv(data_dir / 'lanl_submission_rnn_starter.csv', index_col='seg_id')
sub_rnn.head()

            time_to_failure
seg_id
seg_00030f         2.355156
seg_0012b5         5.326512
seg_00184e         4.863913
seg_003339         8.009501
seg_0042cc         6.303594

In [4]:
sub_gp = pd.read_csv(data_dir / 'lanl_submission_genetic_programming.csv', index_col='seg_id')
sub_gp.head()

            time_to_failure
seg_id
seg_00030f         3.163450
seg_0012b5         5.122903
seg_00184e         4.878317
seg_003339         7.867255
seg_0042cc         6.608135

In [7]:
sub_catboost = pd.read_csv(data_dir / 'CatBoost_2019-06-03_test_2.078_train_1.817.csv', index_col='seg_id')
sub_catboost.head()

            time_to_failure
seg_id
seg_00030f         4.365270
seg_0012b5         4.171625
seg_00184e         4.859852
seg_003339         8.096531
seg_0042cc         6.199090

In [6]:
sub_lgb = pd.read_csv(data_dir / 'LightGBM_2019-06-03_test_2.078_train_1.638.csv', index_col='seg_id')
sub_lgb.head()

            time_to_failure
seg_id
seg_00030f         4.365270
seg_0012b5         4.171625
seg_00184e         4.859852
seg_003339         8.096531
seg_0042cc         6.199090

In [8]:
sub_keras = pd.read_csv(data_dir / 'Keras_2019-06-03_test_2.046_train_2.100.csv', index_col='seg_id')
sub_keras.head()

            time_to_failure
seg_id
seg_00030f         4.365270
seg_0012b5         4.171625
seg_00184e         4.859852
seg_003339         8.096531
seg_0042cc         6.199090

In [9]:
blend = 0.35 * sub_catboost + 0.35 * sub_lgb + 0.3 * sub_keras
blend.head()

            time_to_failure
seg_id
seg_00030f         4.365270
seg_0012b5         4.171625
seg_00184e         4.859852
seg_003339         8.096531
seg_0042cc         6.199090

In [10]:
submission_file = 'lanl_submission_ensemble4.csv'
blend.reset_index(inplace=True)
blend.to_csv(data_dir / submission_file, index=False)
blend.head()

       seg_id  time_to_failure
0  seg_00030f         4.365270
1  seg_0012b5         4.171625
2  seg_00184e         4.859852
3  seg_003339         8.096531
4  seg_0042cc         6.199090